[submodule "dependencies/submodules/nanobind"]
	path = dependencies/submodules/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "dependencies/submodules/MidnightMath"]
	path = dependencies/submodules/MidnightMath
	url = https://github.com/MidnightMagenta/MidnightMath.git
[submodule "dependencies/submodules/json"]
	path = dependencies/submodules/json
	url = https://github.com/nlohmann/json.git
